@inherits LayoutComponentBase

<div class="sidebar">
    <nav>
        <ul>
            <li><NavLink href="/">Главная</NavLink></li>
            <li><NavLink href="/satellite-manager">Управление батареей</NavLink></li>
        </ul>
    </nav>
</div>

<div class="main">
    @Body
</div>